body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 800;
}

h2 {
  color: grey;
}

p{
  font-weight: 200;
}

.title-center {
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}

.white-title {
  color: white;
}

.blue-title {
  color: #7febba;
}

.pink-title {
  color: #f47a91;
}

.orange-title {
  color: #f56c73;
}

.dark-blue-title {
  color: #496799;
}

.green-title {
  color: #87c834;
}

.green-background {
  background-color: #a0df50;
}

/** ----------main section image----------**/
.bgimg {
  position: relative;
  width: 100%;
  height: 100%;
  
  width: 100%;
  height: 0;
  padding-top: 52%;
}

.bgimg.ciganos {
  background-image: url('./imgs/ciganos_background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.homo {
  background-image: url('./imgs/homossexuais_background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.africanos {
  background-image: url('./imgs/africanos_background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.animais {
  background-image: url('./imgs/animais_background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.refugiados {
  background-image: url('./imgs/refugiados_background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.homo span{
  position: absolute;
  color: white;
  font-size: 11vw;
  bottom: 0px;
  margin-bottom: -2.5%;
  margin-left: -1%;
  font-weight:800;
}


.bgimg.ciganos span {
  position: absolute;
  color: white;
  font-size: 14vw;
  bottom: 0px;
  margin-bottom: -3%;
  margin-left: -1%;
  font-weight:800;
}

.bgimg.africanos span {
  position: absolute;
  color: white;
  font-size: 14vw;
  bottom: 0px;
  margin-bottom: -3%;
  margin-left: -1%;
  font-weight:800;
}

.bgimg.animais span {
  position: absolute;
  color: white;
  font-size: 14vw;
  bottom: 0px;
  margin-bottom: -3%;
  margin-left: -1%;
  font-weight:800;
}

.bgimg.refugiados span {
  position: absolute;
  color: white;
  font-size: 14vw;
  bottom: 0px;
  margin-bottom: -3%;
  margin-left: -1%;
  font-weight:800;
}

/**----------NAV BAR-----------**/

.navbar {
  position: absolute;
  width: 100%;
  top: 0px;
  overflow: hidden;
  background: rgba(25, 25, 25, .2);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #7febba;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



.logos-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer p.apoio {
  padding-top: 30px;
  text-align: center;
  color: white;
}

.footer p.year {
  margin-bottom: 0px;
  padding-bottom: 10px;

  text-align: center;
  color: white;
  font-size: 10px;

}





.auto-responsive-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 1em;
  grid-auto-rows: minmax(300px, auto);
}

/**-------years section---------**/

.years-text {
  padding: 50px;
  font-weight:200;
}

.years-graph {
  padding: 50px;
}





.in-portugal-container {
  background: rgb(111,208,147);
  background: linear-gradient(180deg, rgba(111,208,147,1) 0%, rgba(225,247,237,1) 0%, rgba(120,179,169,0.906582701439951) 100%); 
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-auto-rows: minmax(300px, auto);
}

.in-portugal-container.homossexual{
  background: rgb(205,111,208);
  background: linear-gradient(180deg, rgba(205,111,208,1) 0%, rgba(215,131,227,0.8967787798713235) 0%, rgba(217,139,139,0.906582701439951) 100%);
}

.in-portugal-container.africanos {
  background: rgb(206,86,142);
  background: linear-gradient(0deg, rgba(206,86,142,1) 0%, rgba(245,108,115,1) 49%, rgba(255,134,75,1) 100%); 
}

.in-portugal-container.animais {
  background: rgb(57,88,139);
  background: linear-gradient(0deg, rgba(57,88,139,1) 0%, rgba(73,103,153,1) 45%, rgba(61,109,207,1) 100%); 
}

.in-portugal-container.refugiados {
  background: rgb(188,215,152);
  background: linear-gradient(0deg, rgba(188,215,152,1) 0%, rgba(160,223,80,1) 45%, rgba(223,187,80,1) 100%);
}






.sentiment-text {
  padding: 50px;
  font-weight:200;
  text-align: right;
}






.most-mentioned-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-column-gap: 1em;
  grid-auto-rows: minmax(300px, auto);
  justify-items: center;
}


.title-most-mentioned h1{
  margin: 0;
  padding-top: 80px;
}

.title-most-relevant h1{
  margin: 0;
  margin-top: -80px;
  padding: 50px;
  font-size: 3em;
}

.noticias-container {
  grid-auto-rows: minmax(200px, auto);
  gap: 0em;
  grid-row-gap: 2em;
}

.noticia-card {

}

.noticia-card h2,.noticia-card p{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
  color: grey;
}

.title-most-mentioned {
  text-align: center;
  margin: 0;
}

.famous-person {
  text-align: center;
}

.famous-person h2 {
  color: white;
  margin-bottom: 0px;
}

.n-mentions {
  text-decoration: underline;
}

.famous-job {
  margin-top: 5px;
}

.famous-pic {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 40px;
}

.partido {
  text-align: center;
}

.partido h2 {
  color: white;
}

.pizza-container {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(673px, auto);
}

.pizza-container.ciganos {
  background-color: #aad3cd;
  background-image: url('./imgs/locoroco-cigano.JPG');
}

.pizza-container.homossexual {
  background-color: #f2859a;
  background-image: url('./imgs/locoroco-homossexuais.JPG');
}

.pizza-container.africanos {
  background-color: #f1476c;
  background-image: url('./imgs/locoroco-africanos.JPG');
}

.pizza-container.animais {
  background-color: #496799;
  background-image: url('./imgs/locoroco-animais.JPG');
}

.pizza-container.refugiados {
  background-color: #d2f962;
  background-image: url('./imgs/locoroco-refugiados.JPG');
}

.see-more-news{
  text-align: center;
  margin: 30px
}




.facts {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 60px;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  opacity: 80%;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-color: white;
  border-width: 20px;
}

.blue-background {
  background-color: #aad3cd;
}

.pink-background {
  background-color: #f2859a;
}

.orange-background {
  background-color: #f44c6f;
  opacity: 80%;
}

.orange-wave-background{
  background-color: #e73c5c;
}

.dark-blue-background {
  background-color: #496799;
}

.fact {
  padding: 10px;
}

.fact h2 {
  margin-bottom: 2px;
  color: white;
}

.fact p {
  margin-top: 0px;
  font-size: 13px;
  color: white;
}

.fact.right {
  text-align: right;
}

.maps-container img {
  padding: 50px;
  width: 80%;
}

.maps-container.same-sex {
  background: rgb(244,122,145);
  background: linear-gradient(267deg, rgba(244,122,145,0) 0%, rgba(244,122,145,0.27913172104779416) 0%, rgba(217,139,139,0) 49%);
}

.maps-container.illegal{
  background: rgb(244,122,145);
  background: linear-gradient(90deg, rgba(244,122,145,0) 0%, rgba(244,122,145,0.27913172104779416) 0%, rgba(217,139,139,0) 49%); 
}



.maps-container p{
  padding-right: 50px;
  padding-left: 50px;
}

.maps-container h2{
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
}

.geographic-distribution {
  margin-top: 10px;
  margin-bottom: 10px;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 0;
  
}

.separated-map-img{
  height: 450px;
  float: left;
  padding-left: 150px;
}

.world-img {
  padding-top: 40px;
  height: 300px;
  float: left;
  padding-left: 50px;
}

.map-zones {
  float: left;
  padding-left: 30px;
  font-weight: 500;
}


.footer img {
  padding: 40px;
}



 

/**-------------PIZZA CHART CSS---------**/

@-webkit-keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.pie-chart {
  font-family: "Open Sans", Arial;
}
.pie-chart--wrapper {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}
.pie-chart__pie, .pie-chart__legend {
  display: inline-block;
  vertical-align: top;
}
.pie-chart__pie {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px auto 35px;
}
.pie-chart__pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #EEE;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}
.pie-chart__pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  -webkit-animation: bake-pie 1s;
          animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.pie-chart__legend {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background: #FFF;
  padding: 0.75em 0.75em 0.05em;
  font-size: 13px;
  text-align: left;
  width: 65%;
}
.pie-chart__legend li {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.pie-chart__legend em {
  font-style: normal;
}
.pie-chart__legend span {
  float: right;
}

.pie-charts {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
@media (max-width: 500px) {
  .pie-charts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}


/**-------------------------------------**/


@media only screen and (max-width: 1050px) {
  .portugal-map, .cigano-triangle {
    display: none;
  }
  .in-portugal-container{
    grid-template-columns: 1fr;
  }
}