
#minorias {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background:#ffffff;
}

#minorias h1 {
  font-weight: 800;
}

#minorias h2 {

}

#minorias p{
  font-weight: 200;
}

.title-center {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}

.white-title {
  color: white;
}

.blue-title {
  color: #aad3cd;
}

.pink-title {
  color: #f47a91;
}

.orange-title {
  color: #f56c73;
}

.dark-blue-title {
  color: #496799;
}

.green-title {
  color: #87c834;
}

.purple-title {
  color: #6a2a67;
}

.grey-title {
  color: #d5d1d0;
}

.brown-title {
  color: #d78f76;
}

.green-background {
  background-color: #afdd65;
}

.green-background-wave {
  background-image: url("../images/minorias/refugiados-pixel.png");
  background-repeat: repeat;
}

.purple-background {
  background-color: #6a2a67;
}

.purple-background-wave {
  background-image: url("../images/minorias/mulheres-pixel.png");
  background-repeat: repeat;
}

.grey-background {
  background-color: #d5d1d0;
}

.grey-background-wave {
  background-image: url("../images/minorias/asiaticos-pixel.png");
  background-repeat: repeat;
}

/** ----------main section image----------**/
.bgimg {
  position: relative;
  width: 100%;
  height: 100%;

  width: 100%;
  height: 0;
  padding-top: 52%;
}

.bgimg.ciganos {
  background-image: url('../images/minorias/ciganos-background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.homo {
  background-image: url('../images/minorias/homossexuais-background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.africanos {
  background-image: url('../images/minorias/africanos-background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.animais {
  background-image: url('../images/minorias/animais-background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.mulheres {
  background-image: url('../images/minorias/mulheres-background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.refugiados {
  background-image: url('../images/minorias/refugiados-background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.asiaticos {
  background-image: url('../images/minorias/asiaticos-background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.asiaticos {
  background-image: url('../images/minorias/asiaticos-background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.imigrantes {
  background-image: url('../images/minorias/imigrantes-background.JPG');
  background-size: contain;
  background-repeat: no-repeat;
}

.bgimg.homo span{
  position: absolute;
  color: white;
  font-size: 9vw;
  bottom: 0px;
  margin-bottom: -1.7%;
  margin-left: -1%;
  font-weight:800;
}


.bgimg.ciganos span {
  position: absolute;
  color: white;
  font-size: 14vw;
  bottom: 0px;
  margin-bottom: -4.1%;
  margin-left: -1%;
  font-weight:800;
}

.bgimg.africanos span {
  position: absolute;
  color: white;
  font-size: 13vw;
  bottom: 0px;
  margin-bottom: -3.4%;
  margin-left: -1%;
  font-weight:800;
}

.bgimg.animais span {
  position: absolute;
  color: white;
  font-size: 14vw;
  bottom: 0px;
  margin-bottom: -3.8%;
  margin-left: -1%;
  font-weight:800;
}

.bgimg.mulheres span {
  position: absolute;
  color: white;
  font-size: 14vw;
  bottom: 0px;
  margin-bottom: -3.9%;
  margin-left: -1%;
  font-weight:800;
}


.bgimg.refugiados span {
  position: absolute;
  color: white;
  font-size: 11vw;
  bottom: 0px;
  margin-bottom: -2.5%;
  margin-left: -1%;
  font-weight:800;
}

.bgimg.asiaticos span {
  position: absolute;
  color: white;
  font-size: 11vw;
  bottom: 0px;
  margin-bottom: -1.8%;
  margin-left: 0;
  font-weight:800;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bgimg.imigrantes span {
  position: absolute;
  color: white;
  font-size: 11vw;
  bottom: 0px;
  margin-bottom: -2.5%;
  margin-left: -1%;
  font-weight:800;
}

.credits {
  font-size: 10px;
  margin: 0;
  margin-top: -23px;
  margin-right: 10px;
  padding: 0;
  text-align: right;
}

/**----------NAV BAR-----------**/

/*
.navbar {
  position: absolute;
  width: 100%;
  top: 0px;
  overflow: hidden;
  background: rgba(25, 25, 25, .2);
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #7febba;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
*/


.logos-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer p.apoio {
  padding-top: 30px;
  text-align: center;
  color: white;
}

.footer p.year {
  margin-bottom: 0px;
  padding-bottom: 10px;

  text-align: center;
  color: white;
  font-size: 10px;

}





.auto-responsive-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 1em;
  grid-auto-rows: minmax(300px, auto);
}

.relevant-people-container {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 1em;
  grid-auto-rows: minmax(300px, auto);
}

.relevant-people-container.blue {
  background-image: url('../images/minorias/blue-line.PNG');
}

.relevant-people-container.red {
  background-image: url('../images/minorias/red-line.PNG');
}

.relevant-people-container.green {
  background-image: url('../images/minorias/green-line.PNG');
}

.relevant-people-container.purple {
  background-image: url('../images/minorias/purple-line.PNG');
}


.relevant-person {
  text-align: center;

}
.relevant-person h2 {
  margin-top: 20px;

}


.relevant-person img {
  width: 100%;
}

/**-------years section---------**/

.years-text {
  padding: 50px;
  font-weight:200;
}

.years-text p{
  padding-top: 20px;
}

.years-graph {
  padding: 50px;
  padding-top: 80px;
}





.in-portugal-container {
  background: rgb(111,208,147);
  background: linear-gradient(180deg, rgba(111,208,147,1) 0%, rgba(225,247,237,1) 0%, rgba(120,179,169,0.906582701439951) 100%);
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-auto-rows: minmax(300px, auto);
}

.in-portugal-container.homossexual{
  background: rgb(205,111,208);
  background: linear-gradient(180deg, rgba(205,111,208,1) 0%, rgba(215,131,227,0.8967787798713235) 0%, rgba(217,139,139,0.906582701439951) 100%);
}

.in-portugal-container.africanos {
  background: rgb(206,86,142);
  background: linear-gradient(0deg, rgba(206,86,142,1) 0%, rgba(245,108,115,1) 49%, rgba(255,134,75,1) 100%);
}

.in-portugal-container.animais {
  background: rgb(57,88,139);
  background: linear-gradient(0deg, rgba(57,88,139,1) 0%, rgba(73,103,153,1) 45%, rgba(61,109,207,1) 100%);
}

.in-portugal-container.refugiados {
  background: rgb(188,215,152);
  background: linear-gradient(0deg, rgba(188,215,152,1) 0%, rgba(160,223,80,1) 45%, rgba(223,187,80,1) 100%);
}

.in-portugal-container.mulheres {
  background: rgb(100,0,98);
  background: linear-gradient(0deg, rgba(100,0,98,1) 0%, rgba(100,0,98,1) 45%, rgba(46,0,100,1) 100%);
}

.in-portugal-container.asiaticos {
  background: rgb(153,153,153);
  background: linear-gradient(0deg, rgba(153,153,153,1) 0%, rgba(213,209,208,0.37717093673406865) 100%);
}

.in-portugal-container.imigrantes {
  background: rgb(215,143,118);
  background: linear-gradient(0deg, rgba(215,143,118,1) 0%, rgba(215,143,118,0.2763306005996149) 100%);
}






.sentiment-text {
  padding: 50px;
  font-weight:200;
  text-align: right;
}

.sentiment-graph {
  padding-top: 50px;
}






.most-mentioned-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-column-gap: 1em;
  grid-auto-rows: minmax(300px, auto);
  justify-items: center;
}


.title-most-mentioned h1{
  margin: 0;
  padding-top: 50px;
}

.title-most-relevant h1{
  margin: 0;
  margin-top: -80px;
  padding: 50px;
  font-size: 3em;
}

.noticias-container {
  grid-auto-rows: minmax(200px, auto);
  gap: 0em;
  grid-row-gap: 2em;
}

.noticia-card {

}

.noticia-card h5{
  padding-top: 20px;

}

.noticia-card h5, .noticia-card p{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.noticia-card p {
  padding-top: 20px;
}


.title-most-mentioned {
  text-align: center;
  margin: 0;
}

.famous-person {
  text-align: center !important;
}

.famous-person h2, .partido h2{
  color: white;
  margin-bottom: 0px;
  margin-top: 30px;
  font-weight: 500;
}

.n-mentions {
text-align: center;
text-decoration: underline;
}

.famous-job {
text-align: center;
margin-top: 5px;
}

.famous-pic {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 40px;
}

.partido {
  text-align: center;
}


.pizza-container {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(673px, auto);
}

.pizza-container.ciganos {
  background-color: #b3d3ce;
  background-image: url('../images/minorias/locoroco-ciganos.png');
  background-size: 100% 100%;
}

.pizza-container.homossexual {
  background-color: #e48c9c;
  background-image: url('../images/minorias/locoroco-homossexuais.PNG');
  background-size: 100% 100%;
}

.pizza-container.africanos {
  background-color: #d6495f;
  background-image: url('../images/minorias/locoroco-africanos.PNG');
  background-size: 100% 100%;
}

.pizza-container.animais {
  background-color: #4e6896;
  background-image: url('../images/minorias/locoroco-animais.PNG');
  background-size: 100% 100%;
}

.pizza-container.refugiados {
  background-color: #afdd65;
  background-image: url('../images/minorias/locoroco-refugiados.PNG');
  background-size: 100% 100%;
}

.pizza-container.mulheres {
  background-color: #622c64;
  background-image: url('../images/minorias/locoroco-mulheres.PNG');
  background-size: 100% 100%;
}

.pizza-container.asiaticos {
  background-color: #d5d1d0;
  background-image: url('../images/minorias/locoroco-asiaticos.PNG');
  background-size: 100% 100%;
}

.pizza-container.imigrantes {
  background-color: #cd927b;
  background-image: url('../images/minorias/locoroco-imigrantes.png');
  background-size: 100% 100%;
}

.see-more-news{
  text-align: center;
  margin: 30px;
  padding-bottom: 30px;
}




.facts {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 60px;
  padding-top: 0px;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  opacity: 80%;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-color: white;
  border-width: 20px;
}

.blue-background {
  background-color: #b3d3ce;
}

.blue-background-wave {
  background-image: url("../images/minorias/ciganos-pixel.png");
  background-repeat: repeat;
}

.pink-background {
  background-color: #e48c9c;
}

.pink-background-wave {
  background-image: url("../images/minorias/homossexuais-pixel.png");
  background-repeat: repeat;
}

.orange-background {
  background-color: #f44c6f;
  opacity: 80%;
}

.orange-wave-background{
  background-image: url("../images/minorias/africanos-pixel.png");
  background-repeat: repeat;
}

.dark-blue-background {
  background-color: #4e6896;
}

.dark-blue-background-wave {
  background-image: url("../images/minorias/animais-pixel.png");
  background-repeat: repeat;
}

.brown-background-wave {
  background-image: url("../images/minorias/migrantes-pixel.png");
  background-repeat: repeat;
}

.brown-background {
  background-color: #cd927b;
}

.fact {
  padding: 10px;
}

.fact h2 {
  margin-bottom: 2px;
  color: white;
  font-size: 25px;
}

.fact p {
  margin-top: 0px;
  font-size: 13px;
  color: white;
}

.fact.right {
  text-align: right;
}

.maps-container img {
  padding: 50px;
  width: 80%;
}

.maps-container.same-sex {
  background: rgb(244,122,145);
  background: linear-gradient(267deg, rgba(244,122,145,0) 0%, rgba(244,122,145,0.27913172104779416) 0%, rgba(217,139,139,0) 49%);
}

.maps-container.illegal{
  background: rgb(244,122,145);
  background: linear-gradient(90deg, rgba(244,122,145,0) 0%, rgba(244,122,145,0.27913172104779416) 0%, rgba(217,139,139,0) 49%);
  margin-bottom: 40px;

}
.illegal img, .same-sex img{
  height: 400px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.maps-container h2 {
  padding-bottom: 10px;
}

.geographic-info{
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  font-weight: 200;
}

.sentiment-text h1 {
  padding-bottom: 20px;
}



.maps-container p{
  padding-right: 50px;
  padding-left: 50px;
}

.maps-container h2{
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
}

.geographic-distribution {
  margin-top: 10px;
  margin-bottom: 10px;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 0;

}

.separated-map-img{
  height: 450px;
  float: left;
  padding-left: 150px;
}

.world-img {
  padding-top: 0px;
  height: 450px;
  float: left;
  padding-left: 20px;
}

.map-zones {
  float: left;
  padding-left: 30px;
  font-weight: 500;
}


.footer img {
  padding: 20px;
}






/**-------------PIZZA CHART CSS---------**/

@-webkit-keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.pie-chart {
  font-family: "Open Sans", Arial;
}
.pie-chart--wrapper {
  width: 405px;
  margin: 30px auto;
  margin-top: 0px;
  text-align: center;
}
.pie-chart__pie, .pie-chart__legend {
  display: inline-block;
  vertical-align: top;
}
.pie-chart__pie {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px auto 35px;
}
.pie-chart__pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #EEE;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}
.pie-chart__pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  -webkit-animation: bake-pie 1s;
          animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.pie-chart__legend {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background: #FFF;
  padding: 0.75em 0.75em 0.05em;
  font-size: 13px;
  text-align: left;
  width: 65%;
}
.pie-chart__legend li {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.pie-chart__legend em {
  font-style: normal;
}
.pie-chart__legend span {
  float: right;
}

.pie-charts {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
@media (max-width: 500px) {
  .pie-charts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}


/**-------------------------------------**/


@media only screen and (max-width: 1250px) {
  .portugal-map, .cigano-triangle {
    display: none;
  }
  .in-portugal-container{
    grid-template-columns: 1fr;
  }
  .footer img {
    width: 100%;
    padding: 8px;
  }

  .credits {
    margin-top: -5px;
  }

  .pizza-container.ciganos {
    background-size: contain;
  }

  .pizza-container.homossexual {
    background-size: contain;
  }

  .pizza-container.africanos {
    background-size: contain;
  }

  .pizza-container.animais {
    background-size: contain;
  }

  .pizza-container.refugiados {
    background-size: contain;
  }

  .pizza-container.mulheres {
    background-size: contain;
  }

  .pizza-container.asiaticos {
    background-size: contain;
  }

  .pizza-container.imigrantes {
    background-size: contain;
  }



}


.divider
{
	position: relative;
  margin-top: 50px;
  margin-bottom: 40px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
