{% extends "layout.html" %}

{% block content %}

<section class="content">
<div class="container-fluid p-5">

<p class="text-center"><iframe width="854" height="480" src="https://www.youtube.com/embed/-atqhRtx0To" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div><!-- /.container-fluid -->
</section>


<script>

</script>

{% endblock %}
